html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
}

/* global */
.main {
  height: 100vh;
}

.app {
  height: 100%;
  background-image: url(/img/clearsky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .container {
  padding: 0 100px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
} */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
}

.descr {
  margin: 0;
}

/* app*/
.app__content {
  width: 100%;
  height: 100%;
}

.app__blocks {
  display: flex;
  height: 100%;
}

.app__block--left {
  display: flex;
  align-items: end;
  padding: 0 100px 0px 100px;
  padding-bottom: 10%;
  width: 60%;
  height: 100%;
}

.app__weather {
  display: flex;
}

.app__weather--temperature {
  font-weight: 400;
  font-size: 143px;
  line-height: 1;
}

.app__weather__wrap {
  display: flex;
  flex-direction: column;
}

.app__block--right {
  padding-right: 100px;
  width: 40%;
  height: 100%;
  background: rgba(105, 105, 105, 0.2);
  backdrop-filter: blur(7px);
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 15px rgba(131, 131, 131, 0.2);
}

.app__column {
  display: flex;
  flex-direction: column;
  padding: 100px 35px;
  gap: 100px;
}

.app__search--wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.app__search {
  width: 90%;
  border: none;
  background: transparent;
  height: 50px;
}

.app__search::placeholder {
  padding-left: 30px;
  font-weight: 400;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.app__search:focus {
  outline: none;
}

.app__search--icon {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.app__column--precipitation {
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.app__details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 100px;
  border-bottom: 1px solid #fff;
}

.app__detail {
  padding:0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__detail-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}